.basket {
    text-align: right;
    grid-area: 2/4/3/5;
    position: relative;
    .icon,span{
      position: absolute;
      top:50%;
      transform: translateY(-50%);
    }
    .icon {
      margin-left:20px;
      left:30%;
      font-size: 18px;
      color: red;
    }
   
    a {
      color: black;
      text-decoration: none;
    }
    .basketPrice {
      right:0;
      padding: 10px;
      transition: 0.1s linear all;
      &:hover{
          color: red;
      }
    }
    .basketQuantity {
      font-size: 13px;
      text-align: center;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      color:white;
      font-weight: 300;
      background-color: #36454f;
      top: 62%;
      left: 40%;
      position: absolute;
    
    }
  }