@import '../../../styles/settings.scss';

.page {
    margin-top: 130px;
}

.contentBox {
    margin:50px 0 ;
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: 1fr;
    font-family: $font-family;
}

.accontForm {
    margin-left:100px;
    grid-area: 1 / 1 / 2 / 2;
    .accountTitle{
        font-size: 34px;
        font-weight: 500;
    }
    .accountWrapper{
        label{
            font-weight: 400;
            display: block;
            font-size: 16px;
            
        }
        input{
            margin-top:5px;
            width: 90%;
            padding:10px;
        }
        .checked{
            width: 15px;
            margin-right: 10px;
        }
        .submitBtn{
            margin-top:10px;
            padding:10px;
            color:gray;
            width: 30%;
        }
        
    }
    .lostPassoword{
        .lostLink{
            color:gray;
            transition: 0.2s linear all;
            &:hover{
                color:$bgc-color;
            }
        }
    }
    .required{
        color:red;
    }
}
.publicity {
    grid-area: 1 / 2 / 2 / 3;
    overflow: hidden;

    box-shadow: inset 10px 10px 300px -72px rgba(0,0,0,0.5);
    border-radius: 24px;
    border-left:3px solid darkgray;
    border-right:3px solid darkgray;

}
