@import "../../../styles/settings.scss";

.contentBox {
  grid-area: 1 / 2 / 2 / 3;

  .toolbar {
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.1fr;
    color: gray;
    font-size: 14px;

    .toolbarLeft {
      grid-area: 1 / 1 / 2 / 2;

      .resultCount,
      .vievCount {
        display: inline-block;
        width: 50%;
      }

      p,
      ul {
        display: inherit;
        padding-left: 10px;
      }
    }

    .amount {
      padding: 5px;
      cursor: pointer;

      &:hover {
        color: $bgc-color;
      }
    }
    .active {
      color: $bgc-color;
    }
    .toolbarRight {
      grid-area: 1 / 2 / 2 / 3;

      .vievToogle {
        margin-left: 40px;
        display: inline-block;
        .icon {
          margin-left: 10px;
          font-size: 20px;
          transition: 0.2s linear all;
          cursor: pointer;
          &:hover {
            color: $bgc-color;
          }
        }
      }
    }
  }
  .fadeIn {
    width: 25%;
  }
  .eachProduct {
    width: 25%;
    display: inline-block;
  }
}
