@import "../../../styles/settings.scss";

.mainMenu {
  font-family: $font-family;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  position: fixed;
  top: 0;
  z-index: 999999;
  background-color: white;

  letter-spacing: 2px;
}

.navLeft,
li,
.navMidle,
.navRight,
.basket,
.searchBox {
  display: inline-block;
}

.navLeft {
  margin-left: 25%;
  overflow: hidden;
  padding: 0;
  width: 55%;
  left: 20%;

  li {
    margin-top: 20px;
    padding: 20px;
    transition: 0.1s linear all;
    position: relative;

    a {
      color: #343538;
      //color:gray;
      text-decoration: none;
      text-transform: uppercase;
    }

    &::after {
      content: "";
      left: 15px;
      bottom: 15px;
      height: 1px;
      width: 0;
      position: absolute;
      background-color: #b74334;
      transition: 0.2s linear all;

    }

    &:hover::after {
      width: 100%;
    }

    &:hover a {
      color: #b74434;
    }
  }

}

.navMidle {
  left: 5%;
  width: 15%;
  position: absolute;
}

.navRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-25%);
  width: 30%;


}

