@import '../../../styles/settings.scss';


  .contentBox {
    font-family: $font-family;
    margin: 0 auto;
    height: 70vh;
    overflow: hidden;
    .bannerFirst {
      position: relative;
      display: inline-block;
      background-image: url("/image/header-1.jpg");
      background-position: right;
      background-size: cover;
      height: 100%;
      width: 50%;
      color: white;
      transition: 0.3s linear all;
    }
    .bannerSecond {
      display: inline-block;
      background-image: url("/image/header-2.jpg");
      background-position: right;
      background-size: cover;
      height: 100%;
      width: 50%;
      color: black;
      position: relative;
      transition: 0.1s linear all;
      .btn {
        a {
          color: black;
        }
      }
    }
    .subtitle {
      position: absolute;
      top: 20%;
      left: 10%;
      font-size: 34px;
      font-weight: 700;
    }
    .description {
      position: absolute;
      top: 30%;
      left: 10%;
      font-weight: 700;
    }
    .btn {
      position: absolute;
      border: 1px solid black;
      border-radius: 12px;
      background-color: transparent;
      padding: 20px;
      top: 40%;
      left: 25%;
      background: linear-gradient(45deg, rgba(183,67,52,1) 0%, rgba(183,67,52,0.48) 50%, rgba(0,0,0,0.5) 100%);
      a {
        font-size: 22px;
        font-weight: 700;
        color: white;
        text-decoration: none;
      }
      &:hover {
        background-color: rgba(#36454f, 0.5);
      }
    }
  }
  