
.page {
    margin-top: 130px;
    font-family: "Roboto Condensed", sans-serif;
  }
*, *::before,*::after {
    box-sizing: border-box;
}
a, a:hover, a:visited {
    text-decoration: none;
  }