@import '../../../styles/settings.scss';

.searchBox {
  display: inline-block;

  input {
    position: relative;
    width: 80%;
    border: 1px solid #ebecf4;
    background-color: transparent;
    padding: 5px;
    border-radius: 24px;
    outline: none;

    transition: 1s linear all;


  }

  .btnSubmit {
    border: none;
    background-color: transparent;

  }

  .hidden {
    display: inline-block;
  }

  &:hover {
    input {
      visibility: unset;
      width: 80%;
    }

  }
}

.icon {
  font-size: 20px;
  color: #343538;
  transition: 0.1s linear all;
  cursor: pointer;

  &:hover {
    color: $bgc-color;
  }
}